services:
  db:
    container_name: db
    image: postgres:16
    env_file:
      - ./db/.env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  api:
    container_name: api
    image: reallystick_api
    build:
      context: ./backend
      dockerfile: api/Dockerfile.prod
    environment:
      - APP_DATABASE__HOST=db
    env_file:
      - ./backend/.env.docker
    command: "/app/api/entrypoint.prod.sh"
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  notifications:
    container_name: notifications
    image: reallystick_notifications
    build:
      context: ./backend
      dockerfile: notifications/Dockerfile.prod
    environment:
      - APP_DATABASE__HOST=db
      - APP_APPLICATION__PORT=8001
    env_file:
      - ./backend/.env.docker
    command: "/app/notifications/entrypoint.prod.sh"
    ports:
      - "8001:8001"
    depends_on:
      - db
      - redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7
    container_name: redis
    volumes:
      - redis_data:/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

volumes:
  postgres_data:
  redis_data:
